* {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

body {
    display: flex; /* easier to use than float or positioning */
    padding: 10px;
    margin: 10px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    display: flex;
    grid-template-columns: repeat(1, auto);
    padding: 10px;
    margin: 10px;
    width: 50vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.movement {
    display: flex;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.hide {
    display: none;
}